<template>
    <span>
    <v-card class="my-2">
        <v-row class="text-center mx-2 my-2 body-2" align="center">
            <v-col cols="3">
                <v-row class="text-h6">{{item.name}}</v-row>
                <v-row>201 DHK-KHU (LAUNCH)
                    <strong class="caption font-weight-black"> {{item.hasAc? 'AC' : 'NON AC'}}</strong>
                </v-row>
                <v-row>Starting Point: {{item.startLocation}}</v-row>
                <v-row>End Point: {{item.endLocation}}</v-row>
            </v-col>
            <v-col>
                <v-row>DEPARTURE TIME</v-row>
                <v-row>{{item.departureTime}}</v-row>
            </v-col>
            <v-col>
                <v-row>ARRIVAL TIME</v-row>
                <v-row>{{item.arrivalTime}}</v-row>
            </v-col>
            <v-col>
                <v-row>SEATS AVAILABLE</v-row>
                <v-row>28</v-row>
            </v-col>
            <v-col>৳{{item.cost}}</v-col>
            <v-col>
                <v-btn
                        normal
                        color="pink"
                        style="color: white"
                        @click="btnTriggered"
                >
                    View Seats
                </v-btn>
            </v-col>
        </v-row>
    </v-card>

    <BusDetail v-if="isViewing" :item="this.item"/>
    </span>
</template>

<script lang="ts">
    import {Component, Prop, Emit, Vue} from 'vue-property-decorator'
    import {Action, Getter} from 'vuex-class'
    import BusDetail from "@/components/core/BusDetail.vue";
    import {BusModel} from "@/models/busModel";

    @Component({
        components: {BusDetail}
    })
    export default class BusCard extends Vue {
        @Prop({default: new BusModel('Bus 1', '6:15 AM', '11:45 AM', 'Gulistan', 'RoyalChattor', true, false, 500)})
        item!: BusModel

        private isViewing = false

        public btnTriggered() {
            this.onDetailClick()
            this.callUpdateFilterAction()
        }

        @Getter('getBusTrips') trips!: Array<BusModel>
        @Getter('getActiveBusTripIndex') activeBusTripIndex!: number

        @Action('updateActiveBusTripAction') activeBusTrip!: (targetVal: BusModel) => void
        callUpdateFilterAction() {
            this.activeBusTrip(this.item);
        }

        @Emit('openDetail')
        onDetailClick() {
            this.isViewing = !this.isViewing
            return true
        }
    }
</script>

<style scoped>

</style>