<template>
    <v-card class="my-2" color="blue-grey lighten-5" elevation="8">
        <v-row class="text-center mx-2 mt-2 body-2" align="center">
            <v-col v-for="(i, k) in seatStates" :key="k">
                <SeatVector :state="i.state" :has-label="true" :icon-color="i.iColor"/>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-row class="mx-2">
                    <v-col style="outline-style: solid; outline-color: grey">
                        <v-row v-for="twin in firstFourSeats()" :key="twin.toString()">
                            <v-col cols="4"></v-col>
                            <v-col v-for="i in twin" :key="i">
                                <SeatVector :is-big="true" :pair-index="item.seats.findIndex(p => p === twin)" :item-index="i" />
                            </v-col>
                            <v-col></v-col>
                        </v-row>
                        <template v-for="(row, k) in restOfTheSeatsByRow()">
                            <v-row :key="k">
                                <template v-for="i in row[0]">
                                    <v-col :key="i">
                                        <SeatVector :is-big="true" :pair-index="item.seats.findIndex(p => p === row[0])" :item-index="i" />
                                    </v-col>
                                </template>
                                <v-col></v-col>
                                <template v-for="i in row[1]">
                                    <v-col :key="i">
                                        <SeatVector :is-big="true" :pair-index="item.seats.findIndex(p => p === row[1])" :item-index="i" />
                                    </v-col>
                                </template>
                            </v-row>
                        </template>
                    </v-col>
                </v-row>
            </v-col>

            <v-col class="mr-2">
                <Dropdown label="BOARDING POINT *"/>
                <Dropdown label="DROPPING POINT *"/>
                <p class="text-h6 text-center" style="color: darkred">SEAT INFORMATION:</p>
                <v-row class="text-center">
                    <v-col>Sub Total:</v-col>
                    <v-col>৳{{item.cost}}</v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col>Service Charge:</v-col>
                    <v-col>৳{{serviceCost()}}</v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col>Insurance Fee:</v-col>
                    <v-col>৳10</v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col>Ground Total:</v-col>
                    <v-col>৳{{item.cost + serviceCost() + 10}}</v-col>
                </v-row>
                <v-row class="text-center my-5">
                    <v-col>
                        <v-btn
                                normal
                                color="light-blue darken-2"
                                style="color: white"
                                @click="purchase"
                        >
                            Purchase
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-card>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator"
    import {Action, State} from "vuex-class"
    import Dropdown from "@/components/core/Dropdown.vue"
    import {BusModel} from "@/models/busModel";
    import SeatVector from "@/components/core/SeatVector.vue";
    import {Subject, timer} from "rxjs";

    @Component({
        components: {SeatVector, Dropdown},
        subscriptions() {
            return {
                observableAddedToSelections$: this.$store.state.observableAddedToSelections$,
                observableRemovedFromSelections$: this.$store.state.observableRemovedFromSelections$,
            }
        },
    })
    export default class BusDetail extends Vue {
        @Prop({default: new BusModel('Bus 1', '6:15 AM', '11:45 AM', 'Gulistan', 'RoyalChattor', true, false, 500)})
        item!: BusModel

        @Action('updateSeatSelectionAction') updateIndex!: (targetVal: { mode: string; index: number }) => void
        callUpdateSeatSelectionAction(mode: string, seatIndex: number) {
            this.updateIndex({mode: mode, index: seatIndex});
        }

        @State('observableModalFlag$') observableModalFlag$!: Subject<boolean>

        private seatStates: Array<Record<string, string>> = [
            {state: "Booked (M)", iColor: "#C690E5"},
            {state: "Booked (F)", iColor: "#E94FEB"},
            {state: "Blocked", iColor: "#6E6E6E"},
            {state: "Available", iColor: "black"},
            {state: "Selected", iColor: "#9CD371"},
            {state: "Sold (M)", iColor: "#F98576"},
            {state: "Sold (F)", iColor: "#EC7EBB"},
        ]

        public serviceCost() {
            return Math.round(this.item.cost/12)
        }
        public firstFourSeats(): Array<Array<number>> {
            return this.item.seats.filter((i, idx) => idx === 0 || idx === 1)
        }
        public restOfTheSeats(): Array<Array<number>>  {
            return this.item.seats.filter(i => !this.firstFourSeats().includes(i))
        }
        public restOfTheSeatsByRow(): Array<Array<Array<number>>>  {
            const result: Array<Array<Array<number>>> = []
            let seatRow: Array<Array<number>> = []
            this.restOfTheSeats().forEach(p => {
                seatRow.push(p)
                // 2 pair of seats in each row
                if (seatRow.length == 2) {
                    result.push(seatRow)
                    // reset
                    seatRow = []
                }
            })
            return result
        }
        public purchase() {
            this.observableModalFlag$.next(true)
        }

        destroyed() {
            this.callUpdateSeatSelectionAction('reset', -1)
        }
        mounted () {
            this.$observables.observableAddedToSelections$.subscribe(v => {
                console.log('Added', v)
                // after 10Min change the seat status from selected to available
                timer(10*60*1000).subscribe(done => {
                    console.log('Removed after DELAY---', v)
                    this.callUpdateSeatSelectionAction('remove', v)
                })
            })
            this.$observables.observableRemovedFromSelections$.subscribe(v => {
                console.log('Removed', v)
            })
        }
    }
</script>