<template>
    <v-menu
            ref="pickerMenuFlag"
            v-model="pickerMenuFlag"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                    v-model="dateFormatted"
                    :label="label"
                    solo
                    prepend-inner-icon="mdi-calendar"
                    v-bind="attrs"
                    @blur="date = parseDate(dateFormatted)"
                    v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker
                v-model="date"
                no-title
                @input="pickerMenuFlag = false"
        ></v-date-picker>
    </v-menu>
</template>
<script lang="ts">
    import {Component, Watch, Prop, Emit, Model, Vue} from 'vue-property-decorator'
    @Component
    export default class DatePicker extends Vue {
        /* Props */
        @Prop({default: 'Date'}) readonly label!: string
        @Prop({default: false}) readonly today!: boolean

        /* Data */
        private date: string = this.today? new Date().toISOString().substr(0, 10) : ''
        private dateFormatted: null | string = this.today? this.formatDate(new Date().toISOString().substr(0, 10)): ''
        private pickerMenuFlag = false

        /* Computed */
        get computedDateFormatted(): null | string {
            return this.formatDate(this.date)
        }

        /* Methods */
        public formatDate (date: string) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        }
        public parseDate (date: string) {
            if (!date) return null

            const [month, day, year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        }

        /* Watch */
        @Watch('date')
        dateChanged (val: string) {
            this.dateFormatted = this.formatDate(this.date)
            this.onValueChange(val)
        }

        /* Emit */
        @Emit('update')
        onValueChange(val: string) {
            return val
        }

        /* 2-way binding/ v-model on parent */
        @Model('update') modelDate!: string
    }
</script>