<template>
    <v-select
            solo
            :label="label"
            :prepend-inner-icon="locationSelector? 'mdi-map-marker' : ''"
            :items="getItems()"
            v-model="selectedItem"
            @input="onValueChange"
            :required="required"
            :rules="[() => required? 'This field is required': '']"
    ></v-select>
</template>
<script lang="ts">
    import {Component, Emit, Model, Prop, Vue} from 'vue-property-decorator'

    @Component
    export default class Dropdown extends Vue {
        /* Props */
        @Prop({default: 'Select'}) readonly label!: string
        @Prop({default: false}) readonly locationSelector!: boolean
        @Prop({default: false}) readonly required!: boolean
        @Prop({default: () => ['Item A', 'Item B', 'Item C', 'Item D']}) readonly itemList!: Array<string | number>

        /* Emit */
        @Emit('update')
        onValueChange(val: string) {
            return val
        }

        /* 2-way binding/ v-model on parent */
        @Model('update') modelSelectedItem!: string

        /* Data */
        private selectedItem = ''
        private districts: Array<string> = [
            'Barguna District',
            'Barisal District',
            'Bhola District',
            'Jhalokati District',
            'Patuakhali District',
            'Pirojpur District',
            'Bandarban District',
            'Brahmanbaria District',
            'Chandpur District',
            'Chittagong District',
            'Comilla District',
            'Cox\'s Bazar District',
            'Feni District',
            'Khagrachhari District',
            'Lakshmipur District',
            'Noakhali District',
            'Rangamati District',
            'Dhaka District',
            'Faridpur District',
            'Gazipur District',
            'Gopalganj District',
            'Jamalpur District',
            'Kishoreganj District',
            'Madaripur District',
            'Manikganj District',
            'Munshiganj District',
            'Mymensingh District',
            'Narayanganj District',
            'Narsingdi District',
            'Netrakona District',
            'Rajbari District',
            'Shariatpur District',
            'Sherpur District',
            'Tangail District',
            'Bagerhat District',
            'Chuadanga District',
            'Jessore District',
            'Jhenaidah District',
            'Khulna District',
            'Kushtia District',
            'Magura District',
            'Meherpur District',
            'Narail District',
            'Satkhira District',
            'Bogra District',
            'Joypurhat District',
            'Naogaon District',
            'Natore District',
            'Nawabganj District',
            'Pabna District',
            'Rajshahi District',
            'Sirajganj District',
            'Dinajpur District',
            'Gaibandha District',
            'Kurigram District',
            'Lalmonirhat District',
            'Nilphamari District',
            'Panchagarh District',
            'Rangpur District',
            'Thakurgaon District',
            'Habiganj District',
            'Moulvibazar District',
            'Sunamganj District',
            'Sylhet District',
        ]

        public getItems(): Array<string | number> {
            if (this.locationSelector) return this.districts
            return this.itemList
        }
    }
</script>