<template>
    <span style="cursor: pointer" @click="clicked">
    <svg v-if="!isAvailable()" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
         viewBox="0 0 24 24"
         :fill="getColorByState()" :width="getSize()+'px'" :height="getSize()+'px'">
        <g>
            <rect fill="none" :height="getSize()-1 +'px'" :width="getSize()-1 +'px'" x="0"/>
        </g>
        <g>
            <g>
                <g>
                    <path
                            d="M4,18v3h3v-3h10v3h3v-6H4V18z M19,10h3v3h-3V10z M2,10h3v3H2V10z M17,13H7V5c0-1.1,0.9-2,2-2h6c1.1,0,2,0.9,2,2V13z"/>
                </g>
            </g>
        </g>
    </svg>
    <svg v-else xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" :fill="getColorByState()" :width="getSize()+'px'"
         :height="getSize()+'px'">
        <path
                d="M0 0h24v24H0V0z" fill="none"/>
        <path
                d="M15 5v7H9V5h6m0-2H9c-1.1 0-2 .9-2 2v9h10V5c0-1.1-.9-2-2-2zm7 7h-3v3h3v-3zM5 10H2v3h3v-3zm15 5H4v6h2v-4h12v4h2v-6z"/>
    </svg>

    <p v-show="hasLabel" style="vertical-align: center">{{ state }}</p>
    </span>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator'
    import {Action, Getter} from 'vuex-class'
    
    @Component
    export default class SeatVector extends Vue{
        @Prop({default: ''}) state!: string
        @Prop({default: ''}) iconColor!: string
        @Prop({default: false}) isBig!: boolean
        @Prop({default: false}) hasLabel!: boolean
        @Prop({default: -99}) itemIndex!: number
        @Prop({default: -99}) pairIndex!: number

        @Getter('getAvailableSeatIndexesByBusId') availableSeatIndexes!: Array<number>
        @Getter('getBookedMaleSeatIndexesByBusId') bookedMaleIndexes!: Array<number>
        @Getter('getBookedFemaleSeatIndexesByBusId') bookedFemaleIndexes!: Array<number>
        @Getter('getBlockedSeatIndexesByBusId') blockedIndexes!: Array<number>
        @Getter('getSoldMaleIndexesByBusId') soldMaleIndexes!: Array<number>
        @Getter('getSoldFemaleIndexesByBusId') soldFemaleIndexes!: Array<number>
        @Getter('getSelectedIndexesByBusId') selectedIndexes!: Array<number>

        @Action('updateSeatSelectionAction') updateIndex!: (targetVal: { mode: string; index: number }) => void
        callUpdateSeatSelectionAction(mode: string) {
            this.updateIndex({index: this.itemIndex, mode: mode});
        }

        private seatStates: Array<Record<string, string>> = [
            {name: "BookedMale", state: "Booked (M)", iColor: "#C690E5"},
            {name: "BookedFemale", state: "Booked (F)", iColor: "#E94FEB"},
            {name: "Blocked", state: "Blocked", iColor: "#6E6E6E"},
            {name: "Available", state: "Available", iColor: "black"},
            {name: "Selected", state: "Selected", iColor: "#9CD371"},
            {name: "SoldMale", state: "Sold (M)", iColor: "#F98576"},
            {name: "SoldFemale", state: "Sold (F)", iColor: "#EC7EBB"},
        ]

        public isAvailable() {
            return this.availableSeatIndexes.includes(this.itemIndex) || this.state.toLowerCase() === 'available'
        }

        public isBookedMale() { return this.bookedMaleIndexes.includes(this.itemIndex) }
        public isBookedFemale() { return this.bookedFemaleIndexes.includes(this.itemIndex) }
        public isBlocked() { return this.blockedIndexes.includes(this.itemIndex) }
        public isSelected() { return this.selectedIndexes.includes(this.itemIndex) }
        public isSoldMale() { return this.soldMaleIndexes.includes(this.itemIndex) }
        public isSoldFemale() { return this.soldFemaleIndexes.includes(this.itemIndex) }

        public getSize() { return this.isBig? 45 : 25 }
        public clicked() {
            if (this.isAvailable()){
                if (this.isSelected()) this.callUpdateSeatSelectionAction('remove')
                else this.callUpdateSeatSelectionAction('add')
            }
        }

        public getColorByState() {
            let color = this.iconColor
            if(this.isBookedMale()) color = this.seatStates[0].iColor
            else if(this.isBookedFemale()) color = this.seatStates[1].iColor
            else if(this.isBlocked()) color = this.seatStates[2].iColor
            else if(this.isSelected()) color = this.seatStates[4].iColor
            else if(this.isSoldMale()) color = this.seatStates[5].iColor
            else if(this.isSoldFemale()) color = this.seatStates[6].iColor

            return color
        }
    }
</script>
