<template>
  <div class="home">
    <FilterSection/>
    <ResultSection/>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import { Component, Vue } from 'vue-property-decorator';
import { Action, State } from 'vuex-class'
import FilterSection from '@/components/FilterSection.vue';
import ResultSection from "@/components/ResultSection.vue";
import {BusModel} from "@/models/busModel";

@Component({
  components: {
    FilterSection,
    ResultSection,
  },
})
export default class Home extends Vue {
  @State('busTrips') busTrips!: Array<BusModel>

  @Action('updateResultAction') updateResult!: (busTrips: Array<BusModel>) => void
  callUpdateResultAction() {
    this.updateResult(this.busTrips);
  }
  // Dummy Buses and Trips
  public generateData() {
    this.busTrips.push(new BusModel('CONCORD', '6:15 AM', '11:45 AM', 'Gulistan', 'RoyalChattor', true, false, 500))
    this.busTrips.push(new BusModel('GREEN LINE', '8:15 AM', '10:45 AM', 'Gulistan', 'RoyalChattor', true, true, 1000))
    this.busTrips.push(new BusModel('KEYA PARIBAHAN', '5:15 AM', '8:15 AM', 'Gulistan', 'RoyalChattor', false, false, 600))
    this.busTrips.push(new BusModel('HANIF ENTERPRISE', '10:15 AM', '2:30 PM', 'Gulistan', 'RoyalChattor', true, false, 400))
    this.busTrips.push(new BusModel('EAGLE PARIBAHAN', '11:15 AM', '4:45 PM', 'Gulistan', 'RoyalChattor', false, true, 1000))
    this.busTrips.push(new BusModel('HAQUE ENTERPRISE', '5:15 AM', '9:45 AM', 'Gulistan', 'RoyalChattor', true, false, 500))
    this.busTrips.push(new BusModel('DOLPHIN PARIBAHAN', '9:15 AM', '11:45 AM', 'Gulistan', 'RoyalChattor', true, false, 800))
  }

  mounted() {
    // generate busTrips
    this.generateData()
    // update busTripsFiltered
    this.callUpdateResultAction()
  }
}
</script>
