<template>
  <v-container>
    <v-row class="text-center">

      <v-col class="mb-4">
          <v-card
                  class="mx-auto"
                  color="pink darken-2"
          >
              <v-card-text>
                  <v-row>
                      <v-col>
                          <Dropdown label="From" v-model="filter.from" :location-selector="true" @update="callUpdateFilterAction"/>
                      </v-col>
                      <v-col>
                          <Dropdown label="To" v-model="filter.to" :location-selector="true" @update="callUpdateFilterAction"/>
                      </v-col>
                      <v-col><DatePicker label="Journey Date" v-model="filter.journeyDate" @update="callUpdateFilterAction"/></v-col>
                      <v-col><DatePicker label="Return Date (Optional)" v-model="filter.returnDate" @update="callUpdateFilterAction"/></v-col>
                      <v-col style="margin-top: 5px">
                          <!--todo: only available when all filter criteria selected -->
                          <v-btn
                                  normal
                                  color="pink"
                                  style="color: white"
                                  @click="search"
                          >
                              Search Buses
                          </v-btn>
                      </v-col>
                  </v-row>
              </v-card-text>
              <v-card-actions>
              </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import DatePicker from "@/components/core/DatePicker.vue";
    import Dropdown from "@/components/core/Dropdown.vue";
    import {Action, State} from "vuex-class";
    import {FilterModel} from "@/models/filterModel";
    import {BusModel} from "@/models/busModel";
    @Component({
        components: {Dropdown, DatePicker}
    })
    export default class FilterSection extends Vue {
        /* State */
        @State('filter') filter!: FilterModel
        @State('busTrips') busTrips!: Array<BusModel>

        /* Action */
        @Action('updateFilterAction') updateFilter!: (targetVal: FilterModel) => void
        callUpdateFilterAction() {
            this.updateFilter(this.filter);
        }

        @Action('updateResultAction') updateResult!: (busTrips: Array<BusModel>) => void
        callUpdateResultAction(busModels: BusModel[]) {
            this.updateResult(busModels);
        }

        public search() {
            this.callUpdateResultAction(this.busTrips.filter(i => i.isAvailable))
        }
    }
</script>
