<template>
    <v-dialog
            v-model="isOpen"
            max-width="290"
    >
        <v-card>
            <v-card-title class="title my-5">
                Provide Your Information
            </v-card-title>

            <v-card-text>
                <v-text-field
                        label="Name"
                        placeholder="Name"
                        solo
                        :rules="[() => !!name || 'This field is required']"
                        required
                        v-model="name"
                ></v-text-field>
                <v-text-field
                        label="Email"
                        placeholder="Email"
                        solo
                        v-model="email"
                ></v-text-field>
                <Dropdown label="Gender" :item-list="['Male', 'Female']" required v-model="gender"/>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                        elevation="2"
                        text
                        @click="closeModal"
                >
                    Cancel
                </v-btn>

                <v-btn
                        color="red"
                        text
                        elevation="2"
                        @click="submitForm"
                        :disabled="!isValid"
                >
                    Confirm Purchase
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script lang="ts">
    import {Component, Vue, Watch} from 'vue-property-decorator'
    import {Getter, State} from "vuex-class";
    import {Subject} from "rxjs";
    import Dropdown from "@/components/core/Dropdown.vue";

    @Component({
        components: {Dropdown}
    })
    export default class Modal extends Vue{
        @State('observableModalFlag$') observableModalFlag$!: Subject<boolean>

        @Getter('getSelectedIndexesByBusId') getSelectedIndexes!: Array<number>
        @Getter('getAllMaleIndexesByBusId') getAllMaleIndexes!: Array<number>
        @Getter('getAllFemaleIndexesByBusId') getAllFemaleIndexes!: Array<number>

        private isOpen = false
        private name = ''
        private email = ''
        private gender = ''
        private isValid = false

        @Watch('name')
        onNameChange(n: string) {
            if (n.length > 0 && this.gender.length > 0) this.isValid = true
        }
        @Watch('gender')
        onFormChange(n: string) {
            if (n.length > 0 && this.name.length > 0) this.isValid = true
        }

        public closeModal() {
            this.observableModalFlag$.next(false)
        }
        public submitForm() {
            const successIndexes: Array<number> = []
            const unSuccessIndexes: Array<number> = []
            this.getSelectedIndexes.forEach(seat => {
                // males can't take seat beside a female
                if (this.gender === 'Male') {
                    // say (seat + 1) is the seat beside the Female index
                    if (this.getAllFemaleIndexes.includes(seat + 1)) unSuccessIndexes.push(seat)
                    else successIndexes.push(seat)
                }
                // female can take from all available seats
                else successIndexes.push(seat)
            })

            alert("Sold Seats: "+ successIndexes +'\t' +
                'Can not takes seat beside a Female: '+ unSuccessIndexes)

            this.closeModal()
        }

        mounted() {
            this.observableModalFlag$.subscribe(value => this.isOpen = value)
        }
    }
</script>
