<template>
    <v-container>
        <BusCard v-for="(i, k) in trips" :key="k" :item="i" @openDetail="openModal"/>
        <Modal :is-open="modalFlag"/>
    </v-container>
</template>

<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator'
    import {Getter, State} from 'vuex-class'
    import BusCard from "@/components/core/BusCard.vue";
    import Modal from "@/components/Modal.vue";
    import {BusModel} from "@/models/busModel";
    import {Subject} from "rxjs";

    @Component({
        components: {Modal, BusCard},
    })
    export default class ResultSection extends Vue{
        @State('observableModalFlag$') obsModalFlag$!: Subject<boolean>
        @Getter('getBusTrips') trips!: Array<BusModel>
        private modalFlag = false
        public openModal() {
            //this.modalFlag = !this.modalFlag
        }

        mounted() {
            this.obsModalFlag$.subscribe(value => this.modalFlag = value)
        }
    }
</script>

